@import "tailwindcss";

body {
    background-image: url('/bedroom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: radial-gradient(circle at top left, #ded9ab, #000000 17%); */
}